.services-h {
  font-weight: 600;
  font-size: 36px;
  line-height: 70px;
  color: #ffffff;
  padding: 20px 0px 0px 0px;
  text-align: center;
}

.all-services {
  font-weight: 600;
  font-size: 36px;
  line-height: 70px;
  color: #ffffff;
  padding: 20px 0px;
  text-align: center;
}

.breeds-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  padding: 0px 0px 20px 0px;
  text-align: center;
  margin: 0;
}

.category-breed-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.category-breed {
  text-decoration: none;
  background: linear-gradient(
    90deg,
    rgb(176, 110, 181) 0%,
    rgb(148, 132, 186) 100%
  );
  border-radius: 15px;
  padding: 2px 25px;
  color: white;
  text-align: center;
  font-weight: medium;
  font-size: 18px;
}

.dog-image-name {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 30px;
  text-align: center;
}

.grid-dogs{
  padding: 20px 0px;
}

.name-breed-p{
  color: #ffffff;
  font-size: 16px;
  padding: 10px 0px;
}

.breed-image {
  width: 100%;
  height: 80%;
  grid-row: 1;
}

.list-services {
  padding: 15px;
  border-bottom: 2px solid #782de0;
}

.list-services:first-child {
  border-top: 2px solid #782de0;
}

.info-line {
  display: grid;
  grid-template-columns: 15fr 1fr 1fr;
  gap: 10px;
  /* align-items: center; */
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 30px;
  /* background: #6d5596; */
}

.service-name,
.service-price {
  font-size: 18px;
  color: #ffffff;
  margin: 0;
}

.plus-services {
  width: 20%;
}

.btn-plus{
  align-items: center;
  text-align: center;
}

.services-all{
  background-color: #3a3a3a;
  border: 0;
  color: white;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
}

.description_li {
  list-style-image: url(/upload/paw.png);
  font-size: 16px;
}

.duration-services{
  font-size: 16px;
}

.btn-record{
  padding-top: 30px;
  text-align: right;
}

.a-href{
  text-decoration: none;
  color: #ffffff;
  font-weight: medium;
  font-size: 16px;
  background-color: #782de0;
  padding: 10px 40px;
  border-radius: 30px;
}

ul{
  margin: 0;
  align-items: center;
}

@media (max-width: 768px) {
  .services-h {
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    color: #ffffff;
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
  
  .all-services {
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    color: #ffffff;
    padding: 20px 0px;
    text-align: center;
  }
  
  .breeds-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
    padding: 0px 0px 20px 0px;
    text-align: center;
    margin: 0;
  }
  
  .category-breed-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .category-breed {
    text-decoration: none;
    background: linear-gradient(
      90deg,
      rgb(176, 110, 181) 0%,
      rgb(148, 132, 186) 100%
    );
    border-radius: 15px;
    padding: 2px 25px;
    color: white;
    text-align: center;
    font-weight: medium;
    font-size: 16px;
  }
  
  .dog-image-name {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 20px;
    text-align: center;
  }
  
  .grid-dogs{
    padding: 20px 0px;
  }
  
  .name-breed-p{
    color: #ffffff;
    font-size: 16px;
    padding: 10px 0px;
  }
  
  .breed-image {
    width: 100%;
    height: 80%;
    grid-row: 1;
  }
  
  .list-services {
    padding: 15px;
    border-bottom: 2px solid #782de0;
  }
  
  .list-services:first-child {
    border-top: 2px solid #782de0;
  }
  
  .info-line {
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    gap: 10px;
    /* align-items: center; */
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
    /* background: #6d5596; */
  }
  
  .service-name,
  .service-price {
    font-size: 18px;
    color: #ffffff;
    margin: 0;
  }

  .service-price{
    text-align: center;
  }
  
  .plus-services {
    width: 20%;
  }
  
  .services-all{
    background-color: #3a3a3a;
    border: 0;
    color: white;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 10px 0px;
  }
  
  .description_li {
    list-style-image: url(/upload/paw.png);
    font-size: 16px;
  }
  
  .duration-services{
    font-size: 16px;
  }
  
  .btn-record{
    padding-top: 30px;
    text-align: center;
  }
  
  .a-href{
    text-decoration: none;
    color: #ffffff;
    font-weight: medium;
    font-size: 16px;
    background-color: #782de0;
    padding: 10px 40px;
    border-radius: 30px;
  }

  @media (max-width: 426px) {
    .services-h {
      font-weight: 600;
      font-size: 20px;
      line-height: 70px;
      color: #ffffff;
      padding: 0px 0px 0px 0px;
      text-align: center;
      margin: 0;
    }
    
    .all-services {
      font-weight: 600;
      font-size: 20px;
      line-height: 70px;
      color: #ffffff;
      padding: 20px 0px;
      text-align: center;
    }
    
    .breeds-p {
      font-weight: 400;
      font-size: 14px;
      line-height: 40px;
      color: #ffffff;
      padding: 0px 0px 20px 0px;
      text-align: center;
      margin: 0;
    }
    
    .category-breed-container {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    
    .category-breed {
      text-decoration: none;
      background: linear-gradient(
        90deg,
        rgb(176, 110, 181) 0%,
        rgb(148, 132, 186) 100%
      );
      border-radius: 15px;
      padding: 2px 15px;
      color: white;
      text-align: center;
      font-weight: medium;
      font-size: 14px;
    }
    
    .dog-image-name {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 20px;
      text-align: center;
    }
    
    .grid-dogs{
      padding: 0px 0px;
    }
    
    .name-breed-p{
      color: #ffffff;
      font-size: 16px;
      padding: 10px 0px;
      margin: 0;
    }
    
    .breed-image {
      width: 100%;
      height: 80%;
      grid-row: 1;
    }
    
    .list-services {
      padding: 15px;
      border-bottom: 2px solid #782de0;
      align-items: center;
    }
    
    .list-services:first-child {
      border-top: 2px solid #782de0;
    }
    
    .info-line {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      gap: 10px;
      /* align-items: center; */
    }
    
    .services-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 30px;
      /* background: #6d5596; */
    }
    
    .service-name,
    .service-price {
      font-size: 16px;
      color: #ffffff;
      margin: 0;
      text-align: center;
    }
  
    .service-price{
      text-align: center;
    }
    
    .plus-services {
      width: 20%;
    }
    
    .services-all{
      background-color: #3a3a3a;
      border: 0;
      color: white;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      padding: 10px 0px;
    }
    
    .description_li {
      list-style-image: url(/upload/paw.png);
      font-size: 14px;
    }
    
    .duration-services{
      font-size: 14px;
    }
    
    .btn-record{
      padding-top: 30px;
      text-align: center;
      padding-bottom: 30px;
    }
    
    .a-href{
      text-decoration: none;
      color: #ffffff;
      font-weight: medium;
      font-size: 16px;
      background-color: #782de0;
      padding: 10px 40px;
      border-radius: 30px;
    }
  }
}